.pie-chart{
 width: fit-content;
 background-color: white;
 padding: 40px;
 border-radius: 20px;
 font-family: var(--mazzo-font);
}
.pie-chart-component{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.piechart-info{
    display: flex;
    align-items: baseline;
    gap: 3rem;
}
.pie-chart-data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info-container{
    display: flex;
    gap: .5rem;
}

.basic-tees::before{
    content: '';
    display: block;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 35.5%;
    bottom: -1%;
    width: 10px;
    background-color: #98D89E;
}
.pants::before{
    content: '';
    display: block;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 35.5%;
    bottom: -16.5%;
    width: 10px;
    background-color: #F6DC7D;
}
.hoodies::before{
    content: '';
    display: block;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 35.5%;
    bottom: -9%;
    width: 10px;
    background-color: #EE8484;
}
.light-gray{
    color: var(--light-gray);
}